{% extends 'layout.html' %}
{% block content %}
<div class="content-grid mdl-grid">
    {% for template in templates %}
    <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--6dp" id="{{ key }}">
        <div class="mdl-card__title" style="color: fff; height: 176px; background: url('../static/title.png') center / cover;">
            <h2 class="mdl-card__title-text">{{ template['name'] }}</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <b>Количество КП:</b> {{ template['task_list']|length }}
        </div>
        <div class="mdl-card__actions mdl-card--border" style="display: flex;">
            <form method="GET" action="templateEditor">
                <input style="display: none" name="template_id" value="{{ template['template_id'] }}">
                <button class="remove_button mdl-button mdl-button--raised mdl-button--accent mdl-js-button mdl-js-ripple-effect" id="remove_button">Редактрировать</button>
            </form>
        </div>
    </div>
    {% endfor %}
    <div style="position: fixed; bottom: 0; right: 0; margin: 30px; z-index: 1;">
        <form method="POST" action="addTemplate">
            <button class="add_button mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--accent mdl-shadow--6dp" id="upload-file-btn">
                <i class="material-icons">add</i>
            </button>
        </form>
    </div>
</div>
{% endblock content %}