{% extends 'layout.html' %}
{% block content %}
<div class="content-grid mdl-grid">
    <table class="center-all mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric" style="text-align:  left;">Название</th>
                <th style="text-align: left;">Вопрос</th>
                <th style="text-align: left;">Изображение</th>
                <th style="text-align: left;">Ответы</th>
                <th style="text-align: left;">Подсказка №1</th>
                <th style="text-align: left;">Подсказка №2</th>
                <td style="text-align: left;">Действие</td>
            </tr>
        </thead>
        <tbody>
            <!-- Rows -->
            {% for task in tasks %}
            <tr>
                <form action="saveTask" method="POST" enctype="multipart/form-data">
                    <input name="task_id" value="{{ task['task_id'] }}" style="display: none">
                    <td style="width: 100px;">
                        <div class="mdl-textfield mdl-js-textfield" >
                            <textarea style="font-size: 12px;" name="name" class="mdl-textfield__input" type="text" rows="3" id="name">{{ task['name'] }}</textarea>
                            <label class="mdl-textfield__label" for="name"></label>
                        </div>
                    </td>
                    <td>
                        <div class="mdl-textfield mdl-js-textfield" >
                            <textarea style="font-size: 12px;" name="content" class="mdl-textfield__input" type="text" rows="3" id="content">{{ task['content'] }}</textarea>
                            <label class="mdl-textfield__label" for="content"></label>
                        </div>
                    </td>
                    <td style="text-align:left;">
                        {% if task['img'] == "" %}
                            <a style="color:grey" id="file-name-{{ task['task_id'] }}"></a><br>
                            <label for="uploaded-file-{{ task['task_id'] }}"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                Добавить
                            </label>
                            <input id="uploaded-file-{{ task['task_id'] }}"
                                   type="file" name="file" id="uploaded-file-{{ task['task_id'] }}"
                                   onchange="getFileName('{{ task['task_id'] }}')" style="display: none">
                        {% else %}
                            <input name="img" id="img-holder-{{ task['task_id'] }}" value="{{ task['img'] }}" style="display: none">
                            <input name="last_img" id="last-img-holder-{{ task['task_id'] }}" value="{{ task['img'] }}" style="display: none">
                            <a href="{{ 'quest_images/' + task['img'] }}" style="color:grey">Посмотреть</a><br>
                            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                                onclick="removeImgHolder('{{ task['task_id'] }}')">
                                Удалить
                            </button>
                        {% endif %}
                    </td>
                    <td>
                        <div class="mdl-textfield mdl-js-textfield" >
                            <textarea style="font-size: 12px;" name="answers" class="mdl-textfield__input" type="text" rows="3" id="answers">{{ task['answers'] }}</textarea>
                            <label class="mdl-textfield__label" for="answers"></label>
                        </div>
                    </td>
                    <td>
                        <div class="mdl-textfield mdl-js-textfield" >
                            <textarea style="font-size: 12px;" name="tip_1" class="mdl-textfield__input" type="text" rows="3" id="tip_1">{{ task['tip_1'] }}</textarea>
                            <label class="mdl-textfield__label" for="tip_1"></label>
                        </div>
                    </td>
                    <td>
                        <div class="mdl-textfield mdl-js-textfield" >
                            <textarea style="font-size: 12px;" name="tip_2" class="mdl-textfield__input" type="text" rows="3" id="tip_2">{{ task['tip_2'] }}</textarea>
                            <label class="mdl-textfield__label" for="tip_2"></label>
                        </div>
                    </td>
                    <td>
                        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                            Сохранить
                        </button>
                        <br>
                        <a href="removeTask/{{ task['task_id'] }}" style="color:gray; text-align:center;">Удалить</a>
                    </td>
                </form>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="7" style="text-align:center;">
                    <form action="addTask" method="POST">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                            Добавить задание
                        </button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script src="static/js/listOfTasks.js"></script>
{% endblock content %}