{% extends 'layout.html' %}
{% block content %}
<div class="content-grid mdl-grid">
    {% for quest in quests %}
    <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--6dp" id="{{ key }}">
        <div class="mdl-card__title" style="color: fff; height: 176px; background: url('{{ quest['img'] }}') center / cover; padding: 0px;">
            <a class="mdl-card__title-text blur-label">{{ quest['name'] }}</a>
        </div>
        <div class="mdl-card__supporting-text">
            <b>Шаблон:</b> {{ quest['template_name'] }}
            <br>
            <b>Количество КП:</b> {{ quest['amount_of_cp'] }}
            <br>
            <b>Место проведения:</b> {{ quest['place'] }}
            <br>
            <b>Время старта:</b> {{ quest['date'] }}
            <br>
            <b>Продолжительность:</b> {{ quest['duration'] }}
        </div>
        <div class="mdl-card__actions mdl-card--border" style="display: flex;">
            <form method="GET" action="statistic/{{ quest['quest_id'] }}">
                <button class="remove_button mdl-button mdl-button--raised mdl-button--primary mdl-js-button mdl-js-ripple-effect">Статистика</button>
            </form>
            <div class="mdl-layout-spacer"></div>
            {% if quest['complete'] %}
                <form method="GET" action="remove">
                    <input style="display: none" name="quest_id" value="{{ quest['quest_id'] }}">
                    <button class="remove_button mdl-button mdl-button--raised mdl-button--accent mdl-js-button mdl-js-ripple-effect">Удалить</button>
                </form>
            {% else %}
                <form method="GET" action="questEditor">
                    <input style="display: none" name="quest_id" value="{{ quest['quest_id'] }}">
                    <button class="remove_button mdl-button mdl-button--raised mdl-button--accent mdl-js-button mdl-js-ripple-effect">Редактрировать</button>
                </form>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <div style="position: fixed; bottom: 0; right: 0; margin: 30px; z-index: 1;">
        <form method="POST" action="addQuest">
            <button class="add_button mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--accent mdl-shadow--6dp" id="upload-file-btn">
                <i class="material-icons">add</i>
            </button>
        </form>
    </div>
</div>
{% endblock content %}