{% extends 'layout.html' %}
{% block content %}
<div class="content-grid mdl-grid center-all">
    <!-- Class "mdl-data-table-selectable" -->
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp center-all">
        <thead>
            <tr>
                <th style="text-align: center">Команда</th>
                <th style="text-align: center">Логин</th>
                <th style="text-align: center">Пароль</th>
                <th style="text-align: center">Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for teams in teams %}
            <tr class="tr_check" id="{{ teams['login'] }}">
                <td class="mdl-data-table__cell--non-numeric">{{ teams['team_name'] }}</td>
                <td>{{ teams['login'] }}</td>
                <td>{{ teams['password'] }}</td>
                <td>
                    <form action="removeTeam/{{ teams['login'] }}" method="POST" style="display: inline-block">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Удалить</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="4">
                    <form action="addTeam" method="POST">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        style="width: 100%;text-align: center;">
                            Добавить
                        </button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}