{% extends 'layout.html' %}
{% block content %}
<div class="content-grid mdl-grid">
    <div class="center mdl-cell mdl-cell--4-col mdl-card mdl-shadow--6dp">
        <form action="saveQuest" method="POST">
            <input style="display: none" value="{{ quest['quest_id'] }}" name="quest_id">
            <input style="display: none" value="save" name="save" id="save">
            <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%;">
                    <input name="name" class="mdl-textfield__input" type="text" id="name" value="{{ quest['name'] }}">
                    <label class="mdl-textfield__label" for="name">Название квеста</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height" style="width:100%;">
                    <input type="text" value="" class="mdl-textfield__input" id="template_id" readonly>
                    <input type="hidden" value="" name="template_id">
                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    <label for="template_id" class="mdl-textfield__label">Country</label>
                    <ul for="template_id" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                        {% for template in templates %}
                            {% if template['template_id'] == quest['template_id'] %}
                                <li class="mdl-menu__item" data-val="{{ template['template_id'] }}" data-selected="true">{{ template['name'] }}</li>
                            {% else %}
                                <li class="mdl-menu__item" data-val="{{ template['template_id'] }}">{{ template['name'] }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <!--div class="demo-avatar-dropdown" style="display: inline">
                    <button type="button" id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                        <i class="material-icons" role="presentation">arrow_drop_down</i>
                        <span class="visuallyhidden">Шаблон</span>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                        {% for template in templates %}
                            <li class="mdl-menu__item"
                                onclick="changeTemplate('{{ template['template_id'] }}', '{{ template['name'] }}')">
                                {{ template['name'] }}
                            </li>
                        {% endfor %}
                    </ul>
                </div-->
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%;">
                    <input name='date' type='date' class="mdl-textfield__input" id="date" value="{{ quest['date'] }}">
                    <label class="mdl-textfield__label" for="date">Дата проведения</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%;">
                    <input name='time' type='time' class="mdl-textfield__input" id="time" value="{{ quest['time'] }}">
                    <label class="mdl-textfield__label" for="time">Время проведения</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%;">
                    <input name="place" class="mdl-textfield__input" type="text" id="place" value="{{ quest['place'] }}">
                    <label class="mdl-textfield__label" for="place">Место проведения</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%;">
                    <input name='duration' type='time' class="mdl-textfield__input" id="duration" value="{{ quest['duration'] }}">
                    <label class="mdl-textfield__label" for="duration">Продолжительность</label>
                </div>
            </div>
            <div class="mdl-card__actions mdl-card--border" style="display: flex;">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
                    Сохранить
                </button>
                <div class="mdl-layout-spacer"></div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                onclick="setRemove()">
                    Удалить
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    function setRemove() {
        var file = document.getElementById('save').value = 'remove';
    }
</script>
{% endblock content %}