{% extends 'layout.html' %}
{% block content %}
<div class="content-grid mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-card mdl-shadow--6dp">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">{{ quest['name'] }}</h1>
        </div>
        <div class="mdl-card__supporting-text">
            Место проведения: {{ quest['place'] }}
            <br>
            Дата: {{ quest['date'] }}
            <br>
            Продолжительность: {{ quest['duration'] }}
        </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--6dp" id="{{ key }}">
        <div class="mdl-card__supporting-text" style="overflow:auto;">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Команда</th>
                        {% for i in range(quest['amount_of_cp']) %}
                            <th>КП{{ i + 1 }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <!— Rows —>
                    {% for team in teams %}
                    <tr>
                        <td style="text-align:left">{{ team['name'] }}</td>
                        {% for i in range(quest['amount_of_cp']) %}
                            {% if team['times_complete'][i] == '-' %}
                                <td bgcolor="#FFCDD2">{{ team['times_complete'][i] }}
                                    <br>
                                    {{ team['tips'][i] }}/2
                                </td>
                            {% else %}
                                <td bgcolor="#C8E6C9">{{ team['times_complete'][i] }}
                                    <br>
                                    {{ team['tips'][i] }}/2
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}